body {
  overflow-x: hidden;
  margin: 0;
  /* 	font-family: Helvetica; */
  font-family: 'Montserrat';
  color: #fff;
  background-color: #000; }
  body a {
    text-decoration: none;
    color: #fff;
    border-bottom: 1px solid #fff;
    display: inline-block; }

#container.loaded {
  display: flex;
  flex-direction: column; }
  #container.loaded #presentation #title {
    position: absolute;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 4em;
    top: 20%;
    left: 10%;
    right: 10%; }
    #container.loaded #presentation #title h1, #container.loaded #presentation #title h2 {
      position: relative;
      margin: 0; }
      #container.loaded #presentation #title h1 > span, #container.loaded #presentation #title h2 > span {
        background-color: black; }
    #container.loaded #presentation #title .position {
      color: black;
      text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff; }
  #container.loaded #bottom {
    margin: 5% 10% 0 10%;
    font-weight: 300; }
    #container.loaded #bottom #description {
      margin-bottom: 10%;
      max-width: 750px;
      font-size: 1.3em; }
      #container.loaded #bottom #description p {
        margin-bottom: 2em; }
    #container.loaded #bottom footer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-size: 1em; }
      #container.loaded #bottom footer div {
        flex: 1 1 0px; }
        #container.loaded #bottom footer div:nth-of-type(2) {
          margin: 0 30px 0 30px; }
        #container.loaded #bottom footer div.h-separation {
          border-top: 2px solid #fff;
          margin-top: 0.5em;
          padding-top: 30px;
          flex: 2; }
      #container.loaded #bottom footer #summary p:first-of-type {
        font-size: 1.2em;
        font-weight: 400;
        margin-top: 0;
        margin-bottom: 30px; }
      #container.loaded #bottom footer #networks {
        margin-top: 1.3em;
        display: flex;
        flex-direction: row; }
        #container.loaded #bottom footer #networks a {
          margin: 0px 15px 0 15px;
          border: none;
          font-size: 2em; }
          #container.loaded #bottom footer #networks a:first-of-type {
            margin-left: 0; }
          #container.loaded #bottom footer #networks a:last-of-type {
            margin-right: 0; }

#loading-screen {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 1;
  transition: 0.4s opacity; }
  #loading-screen.loaded {
    opacity: 0; }
  #loading-screen #spinner {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1), 2px 1px 0px #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -125px;
    margin-left: -125px;
    animation: spin 0.7s linear infinite; }
  #loading-screen #loader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: auto; }
    #loading-screen #loader h2, #loading-screen #loader h3 {
      margin: 2px; }

/* Mask */
.fo-mask, .fo-mask2 {
  display: inline-block;
  overflow: hidden;
  clear: both; }

.fo-mask span {
  color: transparent;
  -webkit-animation: show 0s forwards 0.4s;
  animation: show 0s forwards 0.4s; }

.fo-mask2 span {
  color: black;
  -webkit-animation: show2 0s forwards 0.4s;
  animation: show2 0s forwards 0.4s;
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s; }

.fo-mask2:after {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s; }

.fo-mask:after, .fo-mask2:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: white;
  -webkit-transform: translate3d(110%, 0, 0);
  transform: translate3d(110%, 0, 0);
  -webkit-animation: left-to-right 1s cubic-bezier(0.17, 0.67, 0.83, 0.67);
  animation: left-to-right 1s cubic-bezier(0.17, 0.67, 0.83, 0.67); }

/* Loader */
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg); } }

@keyframes spin {
  100% {
    transform: rotate(360deg); } }

/* Text reveal animation */
/* Show animation */
@-webkit-keyframes show {
  0% {
    color: transparent; }
  100% {
    color: white; } }

@keyframes show {
  0% {
    color: transparent; }
  100% {
    color: white; } }

@-webkit-keyframes show2 {
  0% {
    color: transparent; }
  100% {
    color: black; } }

@keyframes show2 {
  0% {
    color: transparent; }
  100% {
    color: black; } }

/* Left-to-right animation */
@-webkit-keyframes left-to-right {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0); }
  100% {
    -webkit-transform: translate3d(110%, 0, 0); } }

@keyframes left-to-right {
  0% {
    transform: translate3d(-100%, 0, 0); }
  100% {
    transform: translate3d(110%, 0, 0); } }
