/* Mask */

#container.loaded {
  .fo-mask, .fo-mask2 {
    display: inline-block;
    overflow: hidden;
    clear: both;
  }
  .fo-mask span {
      color: transparent;
      -webkit-animation: show 0s forwards 0.4s;
      animation: show 0s forwards 0.4s;
  }
  .fo-mask2 span {
      color: black;
      -webkit-animation: show2 0s forwards 0.4s;
      animation: show2 0s forwards 0.4s;
      -webkit-animation-delay: 0.6s;
      animation-delay: 0.6s;
  }
  .fo-mask2:after {
      -webkit-animation-delay: 0.2s;
      animation-delay: 0.2s;
  }
  .fo-mask:after, .fo-mask2:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: white;
      -webkit-transform: translate3d(110%, 0, 0);
      transform: translate3d(110%, 0, 0);
      -webkit-animation: left-to-right 1s cubic-bezier(.17,.67,.83,.67);
      animation: left-to-right 1s cubic-bezier(.17,.67,.83,.67);
  }
}


// Animation
/* Loader */
@-webkit-keyframes spin {
    100% {
      -webkit-transform: rotate(360deg);
    }
  }
  @keyframes spin {
    100% {
      transform: rotate(360deg);  
    }
  }
  
  /* Text reveal animation */
  /* Show animation */
  @-webkit-keyframes show {
    0% {
      color: transparent;
    }
    100% {
      color: white;
    }
  }
  @keyframes show {
    0% {
      color: transparent;
    }
    100% {
      color: white;
    }
  }
  @-webkit-keyframes show2 {
    0% {
      color: transparent;
    }
    100% {
      color: black;
    }
  }
  @keyframes show2 {
    0% {
      color: transparent;
    }
    100% {
      color: black;
    }
  }
  
  /* Left-to-right animation */
  @-webkit-keyframes left-to-right {
    0% {
      -webkit-transform: translate3d(-100%, 0, 0);
    }
    100% {
      -webkit-transform: translate3d(110%, 0, 0);
    }
  }
  @keyframes left-to-right {
    0% {
      transform: translate3d(-100%, 0, 0);
    }
    100% {
      transform: translate3d(110%, 0, 0);
    }
  }