@import '_media';

body {
    overflow-x: hidden;
    margin: 0;
    font-family: Helvetica;
    /* 	font-family: 'Montserrat'; */
    color: #fff;
    background-color: #000;

    a {
        text-decoration: none;
        color: #fff;
        border-bottom: 1px solid #fff;
        display: inline-block;
    }
  }
  
  #container.loaded {
    display: flex;
    flex-direction: column;

    #presentation {
      #title {
        position: absolute;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 2em;

        top: 20%;
        left: 10%;
        right: 10%;

        @include sm {
            font-size: 4em;
        }

        h1, h2 {
          position: relative;
          margin : 0;
  
          & > span {
            background-color: black;
          }
        }

        h2 {
            margin-top: 5px;
        }
  
        .position {
          color: black;
          text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
        }
      }
    }

    #bottom {
        margin: 2% 10% 0 10%;
        font-weight: 300;

        #languages {
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-bottom: 5%;

            // horizontal line
            &:before, &:after{
                content: "";
                flex: 1 1;
                border-bottom: 2px solid #fff;
                margin: auto;
            }

            button {
                margin-left: 20px;
                padding: 1px 0px;
                font-size: 1em;
                border: none;
                background: #000;
                color: #fff;
                cursor: pointer;

                &:last-of-type {
                    margin-right: 20px;
                }

                &:focus {
                    outline: none;
                }

                &.active {
                    border-bottom: 1px solid #fff;
                }
            }
        }

        #main-wrapper {
            display: flex;
            gap: 6%;

            h2 {
                font-size: 1.1em;
                font-weight: normal;
            }

            #description-projects-wrapper {
                flex-basis: 0;
                flex-grow: 3;
                text-align: justify;

                // stick to top if activity is very long
                position: -webkit-sticky; /* Safari */
                position: sticky;
                top: 0;
                align-self: flex-start;

                & > div {
                    margin-bottom: 8%;
                }

                #description {
                    line-height: 1.3;
                    font-size: 1.4em;
                    p {
                        margin-bottom: 2em;
                    }
                }

                #projects {
                    #projects-title {
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        margin-bottom: 24px;
    
                        // horizontal line
                        &:before, &:after{
                            content: "";
                            border-bottom: 2px solid #fff;
                            margin: auto;
                        }
                        &:before {
                            width: 5%;
                        }
                        &:after {
                            flex: 1;
                        }

                        h2 {
                            margin: 0 20px;
                        }
                    }

                    #projects-row {
                        display: flex;
                        flex-direction: row;
                        gap: 30px;

                        @include md-max {
                            flex-direction: column;
                            gap: 12px; 
                        }

                        .project-item {
                            border-radius: 16px;
                            padding: 16px;
                            border: 2px solid #fff;
                            flex: 1 1 0px;

                            a {
                                border-bottom: none;
                            }

                            .project-item-title {
                                display: flex;
                                justify-content: space-between;

                                span:first-child {
                                    text-decoration: underline;
                                }

                                .project-updated-at {
                                    font-size: 0.9em;
                                }
                            }

                            .project-star {
                                font-size: 0.9em;
                                display: flex;
                                align-items: center;
                                color: #c1c1c1;
                                
                                svg {
                                    fill: #c1c1c1;
                                    margin-right: 4px;
                                }

                                &:hover {
                                    color: white;

                                    svg {
                                        fill: white;
                                    }
                                }
                            }

                            p {
                                margin-top: 16px;
                                color: #c1c1c1;
                            }
                        }
                    }
                }
            }

            #activity {
                flex-basis: 0;
                flex-grow: 1;

                @include xl-max {
                    display: none;
                }

                .timeline {
                    border-left: 2px solid #e4e8eb;
                    padding-bottom: 30px;
                }

                .timeline-item {
                    position: relative;
                    padding-top: 30px;
                    padding-left: 20px;

                    &::after {
                        content: "";
                        display: block;
                        position: absolute;
                        top: 30px;
                        left: -11px;
                        width: 12px;
                        height: 12px;
                        border-radius: 12px;
                        background: #fff;
                        border: 4px solid #000;
                    }

                    .activity-title-wrapper {
                        display: flex;
                        align-items: center;

                        svg {
                            fill: #fff;
                            margin-right: 8px;
                        }
                    }

                    ul {
                        padding-left: 20px;

                        li > a {
                            margin-right: 6px;
                        }
                    }

                    .activity-target, .activity-target > a {
                        font-size: 0.9em;
                        color: #c1c1c1;
                        text-decoration: none;
                        border-bottom: none;
                    }
                }
            }
        }

        footer {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
            font-size: 1em;

            @include sm-max {
                margin-top: 10%;
                flex-direction: column;
            }
    
            div {
                flex: 1 1 0px;
   
                @include sm-max {
                    text-align: center;
                }

                &:nth-of-type(2) {
                    margin: 0 30px;
                }

                &.h-separation {
                    border-top: 2px solid #fff;
                    margin-top: 0.5em;
                    padding-top: 30px;
                    padding-bottom: 30px;
                    flex: 2;

                    @include sm-max {
                        padding-top: 15px;
                        padding-bottom: 15px;
                    }
                }
            }

            #summary {
                p:first-of-type {
                    font-size: 1.2em;
                    font-weight: 700;
                    margin-top: 0;

                    @include sm {
                        margin-bottom: 30px;
                    }
                }
            }

            #contact {
                a {
                    border: none;
                }

                #networks {
                    margin-top: 1.3em;
                    display: flex;
                    flex-direction: row;

                    @include sm-max {
                        justify-content: center;
                    }
    
                    a {
                        margin-right: 30px;
                        font-size: 2em;
                        
                        &:last-of-type {
                            margin-right: 0;
                        }
                    }
                }
            }
            
            #credits {
                p:first-of-type {
                    margin-top: 0;
                }
            }
        }
    }
  }